#bans {
  .form-control {
    background-color: $backgroundSecondary !important;
    color: white;
    border: none !important;
    outline: 0 !important;

    &:focus {
      color: white;
      background-color: $backgroundSecondary !important;
      outline: 0;
      box-shadow: none !important;
      border: none !important;
    }
  }

  .input-group-text {
    background-color: $backgroundSecondary !important;
    border: none !important;
    color: white;
  }

  .card {
    background-color: $backgroundSecondary;
    border-radius: .25rem;
    transition: all 200ms ease;


    .card-title {
      font-weight: 600;
      color: white;
    }


    .card-body {
      padding-bottom: 0;
    }

    .cursor {
      cursor: pointer;
    }

    .bans-list {
      border-radius: .25rem;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;

      .bans-list-item {
        text-decoration: none;
        text-emphasis: none;
        position: relative;
        display: block;
        padding: 1rem 1rem;
        transition: all 200ms ease;

        &:not(:last-child):after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          background: linear-gradient(to right, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
          width: 100%;
          height: 1px;
        }

        &:hover {
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
          background: $backgroundHover;
        }

        .bans-title {
          font-size: 1.25rem;
          color: white;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .bans-info {
          color: white;
          overflow: unset;

          p {
            margin-bottom: 0;
            padding-bottom: 0;

            .copy {
              cursor: pointer !important;
            }
          }

          .dropdown-menu {
            position: relative;

            &:after {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              content: "";
              background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 35%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.75) 100%);
              width: 100%;
              height: 2px;
            }

            .dropdown-item {
              font-size: 1rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }

  }
}