#forums {
  .svg-1 {
    img {
      position: absolute;
      z-index: 1;
      top: 30rem;
      right: 10rem;
      transform: rotate(90deg);
      width: 400px;
    }
  }

  .svg-3 {
    img {
      position: absolute;
      z-index: 1;
      top: 4rem;
      left: -50rem;
      width: 500px;
    }
  }

  .svg-4 {
    img {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: -150px;
      transform: rotate(180deg);
      width: 480px;
    }
  }

  #category {
    position: relative;
    z-index: 999;
    background-color: $backgroundAlt;
    border-radius: 8px 8px 0 0;

    .card-title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      font-size: 1.5rem;
      letter-spacing: 1.5px;
      color: white;
    }

    .card-desc {
      font-weight: 300;
      font-size: 1.05rem;
      color: rgba(255, 255, 255, .75);
    }


    #board {
      background-color: $backgroundAlt;
      padding: .8rem !important;
      border-radius: 8px;
      color: white;
      border: none;
      position: relative;
      z-index: 999;
      height: 100%;
      transition: background-color ease 200ms;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 0 !important;

      .content {
        @media only screen and (min-device-width: 990px) {
          width: auto;
        }
        @media only screen and (min-device-width: 400px) and (max-device-width: 989px) {
          width: 250px;
        }
        @media only screen and (max-device-width: 399px) {
          width: 220px;
        }
      }

      &:hover {
        background-color: $backgroundHover;
      }

      .title {
        font-family: 'Gilroy', sans-serif;
        font-weight: 800;
        letter-spacing: 1.5px;
        color: white;
      }

      .description {
        font-weight: 400;
        color: rgba(255, 255, 255, .65);
      }

      #latest {
        .thread_title {
          color: rgba(255, 255, 255, .65);
          font-size: 1rem;
        }

        .thread_author {
          color: rgba(255, 255, 255, .75);
          font-size: .75rem;
        }
      }
    }
  }

  #recent_activity {
    border-radius: 8px 8px 8px 8px;
    position: relative;
    z-index: 999;
    background-color: $backgroundAlt;
    border: none;

    .card-header {
      background-color: $backgroundAlt;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      .card-title {
        font-family: 'Gilroy', sans-serif;
        color: white;
        letter-spacing: 1.5px;
        font-weight: 800;
        font-size: 1.4rem;
      }

      .card-desc {
        font-size: 1rem;
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
      }
    }

    .card-body {
      .card {
        background-color: $backgroundAlt;
        padding: .7rem !important;
        border-radius: 8px;
        color: white;
        border: none;
        position: relative;
        height: 100%;
        transition: background-color ease 200ms;

        &:hover {
          background-color: $backgroundHover;
        }
      }
    }
  }

  #latest_threads {
    border-radius: 8px;
    position: relative;
    z-index: 999;
    background-color: $backgroundAlt;
    border: none;
    transition: 200ms ease;

    > div.d-flex {
      padding: 5px !important;
      margin: 0 !important;
      border-radius: 8px;
      transition: background-color 200ms ease-in-out;


      &:hover {
        background: $backgroundHover !important;
      }
    }

    .latest {
      h6 {
        color: white;
        font-weight: 400;
      }

      p {
        color: rgba(255, 255, 255, .75) !important;
      }

      small {
        color: rgba(255, 255, 255, .75);
        font-weight: 300;
      }
    }

    .card-header {
      background-color: $backgroundAlt;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      .card-title {
        font-family: 'Gilroy', sans-serif;
        color: white;
        letter-spacing: 1.5px;
        font-weight: 800;
        font-size: 1.4rem;
      }

      .card-desc {
        font-size: 1rem;
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
      }
    }

    .card-body {
      .card {
        background-color: $backgroundAlt;
        padding: .7rem !important;
        border-radius: 8px;
        color: white;
        border: none;
        position: relative;
        height: 100%;
        transition: background-color ease 200ms;

        &:hover {
          background-color: $backgroundHover;
        }
      }
    }
  }

  #latest_posts {
    border-radius: 8px 8px 8px 8px;
    position: relative;
    z-index: 999;
    background-color: $backgroundAlt;
    border: none;

    > div.d-flex {
      padding: 5px !important;
      margin: 0 !important;

      &:hover {
        background: $backgroundHover !important;
        animation: border-rad;
        animation-delay: 40ms;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }

    @keyframes border-rad {
      from {
        border-radius: 0;
      }
      to {
        border-radius: 8px;
      }
    }

    .card-header {
      background-color: $backgroundAlt;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      .card-title {
        font-family: 'Gilroy', sans-serif;
        color: white;
        letter-spacing: 1.5px;
        font-weight: 800;
        font-size: 1.4rem;
      }

      .card-desc {
        font-size: 1rem;
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
      }
    }

    .card-body {
      .card {
        background-color: $backgroundAlt;
        padding: .7rem !important;
        border-radius: 8px;
        color: white;
        border: none;
        position: relative;
        height: 100%;
        transition: background-color ease 200ms;

        &:hover {
          background-color: $backgroundHover;
        }
      }
    }
  }

  #search_threads {
    border-radius: 8px 8px 8px 8px;
    position: relative;
    z-index: 999;
    background-color: $backgroundAlt;
    border: none;

    > div.d-flex {
      padding: 5px !important;
      margin: 0 !important;

      &:hover {
        background: $backgroundHover !important;
        animation: border-rad;
        animation-delay: 40ms;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }

    @keyframes border-rad {
      from {
        border-radius: 0;
      }
      to {
        border-radius: 8px;
      }
    }

    .card-header {
      background-color: $backgroundAlt;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      .card-title {
        font-family: 'Gilroy', sans-serif;
        color: white;
        letter-spacing: 1.5px;
        font-weight: 800;
        font-size: 1.4rem;
      }

      .card-desc {
        font-size: 1rem;
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
      }
    }
  }

  &.polls .card-body p {
    color: rgba(220, 220, 220);
  }

  #forum_polls {
    border-radius: 8px 8px 8px 8px;
    position: relative;
    z-index: 999;
    background-color: $backgroundAlt;
    border: none;

    .card-header {
      background-color: $backgroundAlt;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      .card-title {
        font-family: 'Gilroy', sans-serif;
        color: white;
        letter-spacing: 1.5px;
        font-weight: 800;
        font-size: 1.4rem;
      }

      .card-desc {
        font-size: 1rem;
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
      }
    }

    .card-body {
      color: white;
      padding-bottom: 0;
      height: 100%;

      h5 {
        color: white;
        font-size: 1.25rem;
      }

      p {
        font-size: 1rem;
        color: rgba(255, 255, 255, .75);
      }
    }
  }

  span {
    border-radius: 8px 8px 8px 8px;
    position: relative;
    z-index: 999;
  }
}

.forum-svg-1 {
  img {
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
    left: -18rem;
    top: 25rem;
    width: 900px;
    height: 770px;
  }
}

#threads {
  .card {
    background-color: $backgroundAlt;
    border-radius: 8px;
    color: white;
    border: none;
    position: relative;
    z-index: 999;
    height: 100%;
    transition: background-color ease 200ms;

    &:hover {
      &:not(.thread) {
        background-color: $backgroundHover;
      }

      .reactions {
        .reaction {
          opacity: 1;
        }
      }
    }

    #latest {
      .thread_title {
        color: rgba(255, 255, 255, .65);
        font-size: 1rem;
      }

      .thread_author {
        color: rgba(255, 255, 255, .75);
        font-size: .75rem;
      }
    }

    .title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      letter-spacing: 1.5px;
      color: white;
    }

    .description {
      font-weight: 400;
      color: rgba(255, 255, 255, .65);
    }

    .username_full {
      color: rgba(255, 255, 255, .65);
      font-size: 1rem;
    }

    .username {
      color: rgba(255, 255, 255, .75);
    }
  }

  .reactions {
    width: 100%;
    position: absolute;
    bottom: 0 !important;
    right: 20px !important;
    display: inline-block;
    flex-flow: row wrap;
    font-size: .87rem;
    color: white;

    .reacted {
      left: 10px !important;
      position: relative !important;

      .reaction {
        img {
          width: 20px !important;
          height: 20px !important;
        }

        &:not(:last-child) {
          margin-right: 35px !important;
        }
      }
    }

    .reaction {
      vertical-align: center;
      height: 20px;
      width: 20px;
      opacity: .45;
      transition: opacity 200ms ease;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }


  .thread-title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: white;
  }
}

#chatbox {
  &.card {
    border: $backgroundAlt solid 2px;
    background-color: $backgroundSecondary;
    width: 100%;
  }

  .card-header {
    background-color: $backgroundAlt;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    h5 {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      letter-spacing: 1.5px;
      color: white;
    }
  }

  .card-body {
    width: 100%;
    background-color: $backgroundAlt;

    .fixed-height {
      max-height: 250px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .timestamp {
      p {
        margin: 0;
        padding: 0 10px 0 0;
        color: rgba(255, 255, 255, .35);
        font-size: .65rem;
      }
    }

    div {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      img.avatar {
        margin-right: 5px;
        max-height: 50px;
        width: auto;
      }

      p.username {
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }

      p.content {
        font-size: .85rem;
        color: rgba(255, 255, 255, .65);
      }

    }

    form {
      width: 100%;

      .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.stat-card-forum i {
  position: absolute;
  color: var(--Accent_Color);
  opacity: .6;
  top: 10px;
  right: 10px;
  font-size: 3rem;
}

.answers {
  .progress {
    background-color: #323237;
    border-radius: 0.25rem;
    height: 30px;

    .progress-bar {
      color: white !important;
      font-size: 0.85rem;
      text-transform: uppercase;
    }

  }

  .progressSort {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}