//
.features_stats {
  .stat {
    padding: 15px;
    border-radius: 8px;
    background: $backgroundAlt;
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse !important;
    padding-bottom: 0 !important;

    .card-title {
      font-family: 'Inter', sans-serif;
      font-size: 35px;
      color: rgba(255, 255, 255, 0.75);
      display: inline-flex;
      text-align: right;
    }

    p {
      font-family: 'Inter', sans-serif;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.25);
      padding: 0;
      margin: auto 0;
      display: inline-flex;
      flex-grow: 1;
      text-align: left;
    }

    p.online {
      color: rgba(98, 167, 227, 0.5);
    }

    p.game {
      color: rgba(139, 197, 63, 0.5);
    }
  }

  position: relative;
}

.feature {
  .fa-stack {
    i {
      position: absolute;
      z-index: 99;

      &:first-child {
        color: var(--Accent_Buttons);
        position: relative;
        z-index: 9999;
      }

      &:nth-child(2) {
        color: var(--Accent_Color) !important;
      }
    }
  }

  .feat {
    .spanner {
      width: 100%;
    }
  }
}

.features {
  .feature {
    .content {
      color: rgba(255, 255, 255, .5);
      z-index: 99;
      position: relative;
    }

    .feature-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .feature-line {
        display: block;
        height: 100%;
        width: 3px;
        background-color: var(--Accent_Icons);
      }
    }

    &:last-child {
      .feature-container {
        .feature-line {
          background: transparent;
        }
      }
    }
  }

  .feat {
    background-color: $backgroundAlt;
    border: 0;

    .card-title {
      color: white;
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 1.25px;
    }

    .card-body {
      .content {
        color: rgba(255, 255, 255, .75);
        font-weight: 300;
      }
    }

    .fa-stack {
      i {
        &:first-child {
          color: var(--Accent_Buttons);
          position: relative;
          z-index: 9999;
        }

        &:nth-child(2) {
          color: var(--Accent_Color) !important;
        }
      }
    }
  }
}

.feature.card {
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;

  .card-body {
    color: rgba(255, 255, 255, .65);
  }
}

.section {
  position: relative;
  z-index: 5;
  margin-bottom: 3rem;
}

#home {
  .svg-1 {
    pointer-events: none;
    position: absolute;
    top: 500px;
    left: 0;
    z-index: 1;
    width: 375px;
    transform: rotate(90deg);
  }

  .svg-2 {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 400px;
    right: 150px;
  }

  .svg-3 {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 350px;
    right: 800px;
    width: 370px;
  }

  .svg-4 {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: -50px;
    right: 0;
    width: 550px;
  }

  .svg-5 {
    pointer-events: none;
    transform: rotate(180deg);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 350px;
    width: 500px;
  }

  .svg-6 {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 0;
    width: 375px;
  }
}

.servers {
  margin-top: 4rem;
  position: relative;

  .server {
    position: relative;

    img {
      position: absolute;
      z-index: 1;
    }

    .servers-title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      font-size: 2rem;
      line-height: 30px;
      color: #FFFFFF;
      position: relative;
      z-index: 999;
    }

    .servers-desc {
      font-size: 1.25rem;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.75);
      position: relative;
      z-index: 999;
    }

    &:nth-child(even) {
      img {
        border-radius: 32px 32px 0 32px;
        position: relative;
      }

      .map {
        border-radius: 8px 8px 0 8px;
        width: auto;
        height: 35px;
        left: 40px;
        top: 20px;
        z-index: 99;
      }

      .icon {
        right: 40px;
        bottom: 20px;
        z-index: 99;
        border-radius: 8px 8px 0 8px;
      }

      .server-anim {
        position: absolute;
        top: 20px;
        right: 40px;
        z-index: 99;
        color: white;
        font-size: 2rem;
      }

      .rect {
        position: absolute;
        width: 1000px;
        height: 440px;
        left: -600px;
        top: 0;
        background: $backgroundAlt;
        border-radius: 0 8px 8px 0;
        margin-top: -1.75rem;
      }
    }

    &:nth-child(odd) {
      img {
        border-radius: 32px 32px 32px 0;
        position: relative;
      }

      .map {
        border-radius: 8px 8px 8px 0;
        width: auto;
        height: 35px;
        right: 40px;
        top: 20px;
        z-index: 99;
        &.error-map-notice {
          right: 110px !important;
        }
      }

      .icon {
        left: 40px;
        bottom: 20px;
        z-index: 99;
        border-radius: 8px 8px 8px 0;
      }

      .server-anim {
        position: absolute;
        top: 20px;
        left: 40px;
        z-index: 99;
        color: white;
        font-size: 2rem;
      }

      .rect {
        position: absolute;
        width: 1000px;
        height: 440px;
        right: -600px;
        top: 0;
        background: $backgroundAlt;
        border-radius: 8px 0 0 8px;
        margin-top: -1.75rem;
      }
    }

    .map {
      background-color: $backgroundAlt;
      color: rgba(255, 255, 255, 0.75);
      padding: 5px;
      position: absolute;

      span {
        margin-left: 2px;
      }
    }

    .icon {
      position: absolute;
      background-color: var(--Accent_Color);
      color: rgba(255, 255, 255, 0.75);
      transition: background-color ease .25s;

      &:hover {
        background-color: var(--Accent_Color);
      }
    }

    .chart-container {
      margin-top: 1rem;
      margin-left: .75rem;
      position: relative;
      z-index: 999;
    }

    .chart-inner {
      width: 70px;
      margin-right: .55rem;
    }

    span.num_value {
      margin-right: .25rem;
    }

    .player-count {
      font-size: 16px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5) !important;
    }
  }
}

.leadership {
  position: relative;

  .titles {
    margin-top: 6rem;

    .title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      color: white;
      font-size: 2.25rem;
    }

    .subtitle {
      font-size: 1.25rem;
      color: rgba(255, 255, 255, 0.75);
    }
  }

  .leader {
    text-decoration: none;
    text-emphasis: none;
    border-radius: 8px;
    background-color: $backgroundAlt;
    position: relative;
    z-index: 999;

    img {
      max-width: 64px;
      max-height: 64px;
    }

    .card-title {
      color: rgba(255, 255, 255, 0.75);
      font-size: 20px;
    }

    .content {
      margin-top: -3rem;
    }

    .card-header {
      height: 60px;
      width: 100%;
      border-radius: 8px 8px 0 0;
    }

    .role {
      margin-top: .5rem;
      color: rgba(255, 255, 255, 0.5);
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 1.25px;
    }
  }
}

#users {
  .leader {
    text-decoration: none;
    text-emphasis: none;
    border-radius: 8px;
    background-color: $backgroundAlt;
    position: relative;
    z-index: 999;

    img {
      max-width: 64px;
      max-height: 64px;
    }

    .card-title {
      color: rgba(255, 255, 255, 0.75);
      font-size: 20px;
    }

    .content {
      margin-top: -3rem;
    }

    .card-header {
      height: 60px;
      width: 100%;
      border-radius: 8px 8px 0 0;
    }

    .role {
      margin-top: .5rem;
      color: rgba(255, 255, 255, 0.5);
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 1.25px;
    }
  }
}
