//
html {
  background-color: $backgroundPrimary;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: $backgroundAlt $backgroundPrimary;
}

svg, i {
  pointer-events: none;
}


body {
  background-color: $backgroundPrimary;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: $backgroundAlt $backgroundPrimary;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

.app {
  flex-grow: 1;
}

h1 {
  position: relative;
  z-index: 99;
}

h2 {
  position: relative;
  z-index: 99;
}

h3 {
  position: relative;
  z-index: 99;
}

h4 {
  position: relative;
  z-index: 99;
}

h5 {
  position: relative;
  z-index: 99;
}

h6 {
  position: relative;
  z-index: 99;
}

b {
  position: relative;
  z-index: 99;
}

a {
  text-decoration: none !important;
  text-emphasis: none !important;
}

.tox :not(svg):not(rect) {
  color: black !important;
}

.tox {
  .tox-toolbar {
    background: none !important;
  }

  .tox-toolbar-overlord {
    background-color: transparent !important;
  }

  .tox-toolbar__overflow {
    background: none !important;
  }

  .tox-toolbar__primary {
    background: none !important;
  }

  position: relative !important;
  color: white;

  &:not([dir="rtl"]) {
    .tox-toolbar__group {
      &:not(:last-of-type) {
        border-right: 1px solid transparent !important;
      }
    }
  }

  * {
    border: none !important;
  }

  span {
    color: white !important;
  }

  button {
    color: white !important;
  }

  svg {
    fill: white !important;
  }

  .tox-tbtn {
    &:hover {
      background: $backgroundPrimary !important;
      border: none !important;
    }
  }

  .tox-edit-area__iframe {
    background-color: transparent !important;
    border-radius: 0 0 .6rem .6rem;
  }

  .tox-statusbar {
    background-color: transparent !important;
    border-radius: 0 0 .6rem .6rem;
  }
}

.tox-tinymce {
  background-color: $backgroundHover !important;
  border: none !important;

  .tox-toolbar {
    background-color: $backgroundHover !important;
    border: none !important;
  }
}

.nav-top {
  background: $backgroundPrimary;
  height: 30px;
  width: 100%;
}

.nav-top_line {
  height: 1px;
  width: 100%;
  background: linear-gradient(270.03deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 47.92%, rgba(255, 255, 255, 0) 100%);
}

.navbar {
  .nav-link {
    font-family: 'Inter', sans-serif;
    text-align: right;
    color: rgba(255, 255, 255, .75);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }

  a {
    color: rgba(255, 255, 255, 0.5);
  }

  .dropdown {
    .dropdown-menu {
      .dropdown-item {
        color: rgba(255, 255, 255, .75);
        padding: 10px;

        &:hover {
          background-color: $altHover;
          color: white;
        }
      }
    }
  }
}

.dropdown-menu {
  background-color: $backgroundAlt;
  border-radius: 12px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.29) 0 10px 20px 0;
  padding: 0;

  &:not(.user-auth) {
    .dropdown-item {
      color: rgba(255, 255, 255, .75);
      transition: color 200ms ease, background-color 200ms ease;
      border-radius: 6px;
      margin-bottom: .55rem !important;
    }
  }

  .dropdown-item {
    &:hover {
      background-color: $backgroundHover;
      color: #fff;
      transition: color 200ms ease, background-color 200ms ease;
    }

    &:focus {
      background-color: $backgroundHover;
      color: #fff;
      transition: color 200ms ease, background-color 200ms ease;
    }
  }
}

.dropdown {
  .dropdown-toggle {
    span {
      color: rgba(255, 255, 255, .65);
    }
  }
}

.user-auth {
  &::before {
    display: none;
  }

  .dropdown_content {
    padding: .8rem;
  }

  i {
    &::before {
      color: rgba(255, 255, 255, .65);
    }

    &::after {
      color: rgba(255, 255, 255, .75);
    }
  }

  .dropdown-item {
    .link-title {
      font-size: 1rem;
      letter-spacing: 1.25px;
      color: white;
    }

    margin-bottom: .5rem;

    .description {
      font-size: .75rem;
    }
  }
}

.dropdown-menu.drops {
  padding: .8rem;
}

.dropdown-menu.fade {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.show {
  > .dropdown-menu.fade {
    pointer-events: auto;
    opacity: 1;
  }
}

.dropdown-menu_footer {
  background-color: #2a2a30;
  padding: .2rem .8rem .2rem .8rem;
  border-radius: 0 0 12px 12px;

  .logout {
    background-color: transparent !important;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .65);

    i {
      &::before {
        color: rgba(181, 33, 33, 0.85);
      }

      &::after {
        color: rgba(181, 33, 33, 0.75);
      }
    }
  }

  .bell_color {
    .fa-bell {
      &::after {
        color: #f3b500;
      }
    }
  }
}

.btn-servers {
  background: #34AE40;
  margin-top: -1rem;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
  border-radius: 8px;
  text-align: left;
  width: 132px;
  height: 48px;
  color: #FFFFFF !important;

  &:hover {
    background: #258c2f;
  }

  span {
    font-weight: bold;
  }

  i {
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 96%;
    opacity: .25;
    background: rgba(0, 0, 0, 0.25);
    transform: rotate(-20deg);
  }
}

.btn-discord {
  background: #7289DA;
  margin-top: -1rem;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
  border-radius: 8px;
  text-align: left;
  width: 132px;
  height: 48px;
  color: #FFFFFF !important;

  &:hover {
    background: #5b70bc;
  }

  span {
    font-weight: bold;
  }

  i {
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 96%;
    opacity: .25;
    background: rgba(0, 0, 0, 0.25);
    transform: rotate(-20deg);
  }
}

.btn-steamgroup {
  border-radius: 8px;
  background: var(--Accent_Buttons);
  color: var(--Accent_Color) !important;
  font-size: 16px;

  &:hover {
    background: var(--Accent_Buttons_hover);
  }
}

.header_full {
  .titles {
    .title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      color: white;
    }

    .subtitle {
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.section-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 29px;
  color: #FFFFFF;
}

.section-desc {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.75);
}

#staff-cont {
  .svg_1 {
    position: absolute;
    width: 500px;
    transform: rotate(180deg);
    top: 20rem;
    height: 600px;
  }

  .svg_2 {
    position: absolute;
    width: 500px;
    right: 10rem;
    top: -3rem;
  }
}


.page-footer {
  background-color: $backgroundSecondary;
  position: relative;
  z-index: 999;
  flex-shrink: 0;

  .title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .desc {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300;
  }

  .copyright {
    color: rgba(255, 255, 255, .75);

    a {
      color: var(--Accent_Background);
      transition: color 200ms ease;

      &:hover {
        color: var(--Accent_Color);
      }
    }
  }

  .footer-link {
    a {
      color: rgba(255, 255, 255, .65);
      transition: color ease 200ms;
      margin-bottom: .35rem;

      &:hover {
        color: rgba(255, 255, 255, .75) !important;
      }
    }
  }

  .category {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color: white;
    letter-spacing: 1.25px;
  }
}


#notifications {
  .card {
    background-color: $backgroundAlt;
    border-radius: 8px;
  }

  .notification_list {
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .notification_list_item {
    position: relative;
    display: block;
    padding: 1rem 1rem;
    background-color: $backgroundPrimary;
    border-bottom: 2px solid $backgroundAlt;
    text-decoration: none;
    text-emphasis: none;
    transition: background-color ease 200ms;

    &::after {
      position: absolute;
      font-family: 'Font Awesome 6 Pro', serif;
      content: '\f054';
      font-size: 1rem;
      right: 30px;
      top: calc(50% - 10px);
      color: white;
      fill: white;
    }

    &:hover {
      background-color: #323237;
    }

    .notification_title {
      font-size: 1.25rem;
      color: white;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .notification_time {
      font-size: 1rem;
      color: rgba(255, 255, 255, .65);
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: .25rem;
    }
  }

  .forms {
    display: flex;
    flex-flow: row wrap;

    .read {
      margin-right: 10px;
    }

    @media only screen and (max-width: 490px) {
      display: block;
      .btn {
        padding: 0.25rem 0.5rem !important;
        font-size: 0.875rem !important;
        line-height: 1.5 !important;
        border-radius: 0.2rem !important;
        float: right;
      }
      .read {
        margin-right: 0 !important;
      }
    }
  }

  .card-title {
    font-weight: 800;
    color: white;
  }
}

#misc_content {
  margin-top: 2rem;

  a.btn-danger {
    color: rgba(255, 255, 255, 75);
    transition: ease color .25s;

    &:hover {
      color: white;
    }
  }
}

#users_show {
  .profile-name {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color: white;
    letter-spacing: 1.45px;
  }

  span.badge {
    color: rgba(255, 255, 255, .75);
    font-size: 15px;
    padding: .5rem;
  }

  .profile-bio {
    color: white;
  }

  .profile-signature {
    color: white;
  }
}

#users_edit {
  .profile_edit-text {
    color: white;
    font-weight: 400;
    font-size: 1rem;
  }
}

.search {
  position: relative;

  i {
    position: absolute;
    color: white;
    opacity: .5;
    top: 10px;
    right: 10px;
    transform: rotate(10deg);
    font-size: 3rem;
  }
}

.form-control {
  background-color: $backgroundHover;
  border: none;
}

input {
  &:focus {
    color: #fff !important;
    background-color: $backgroundHover !important;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
  }
}

#threads {
  .form-control {
    color: #fff !important;
    background-color: $backgroundHover !important;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
  }
}

#users_show {
  .likes {
    font-size: 1.25rem;

    i {
      font-size: 1.5rem;
    }
  }

  .card {
    background-color: $backgroundAlt;
    border-radius: 8px;
    color: white;
    border: none;
    position: relative;
    z-index: 999;
    transition: background-color ease 200ms;

    input {
      background-color: $backgroundPrimary;
      border: none;
      color: white;
    }

    .title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      letter-spacing: 1.5px;
      color: white;
    }

    .description {
      font-weight: 400;
      color: rgba(255, 255, 255, .65);
    }

    .username_full {
      color: rgba(255, 255, 255, .65);
      font-size: 1rem;
    }

    .username {
      color: rgba(255, 255, 255, .75);
    }
  }
}

button.fixr {
  height: 100% !important;
}


.fa-gold_anim {
  color: #d4af37;
  display: inline-block;
  position: relative;
  -moz-animation: gold-anim 1s infinite linear;
  -o-animation: gold-anim 1s infinite linear;
  -webkit-animation: gold-anim 1s infinite linear;
  animation: gold-anim 1s infinite linear;
}

@-webkit-keyframes gold-anim {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: -0.5rem;
    opacity: .65;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-moz-keyframes gold-anim {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: -0.5rem;
    opacity: .65;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-o-keyframes gold-anim {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: -0.5rem;
    opacity: .65;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-ms-keyframes gold-anim {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: -0.5rem;
    opacity: .65;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes gold-anim {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: -0.5rem;
    opacity: .65;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


#users-cont {
  .svg_1 {
    position: absolute;
    width: 300px;
    transform: rotate(180deg);
    top: 8rem;
    height: 800px;
    z-index: 1;
  }

  .svg_2 {
    position: absolute;
    width: 500px;
    transform: rotate(180deg);
    height: 679px;
    top: 15rem;
    left: 102rem;
  }

  .svg_3 {
    position: absolute;
    width: 371px;
    right: 596px;
  }
}

#terms {
  .card {
    background-color: $backgroundAlt !important;

    .card-header {
      border: none;

      h3 {
        font-family: 'Gilroy', sans-serif;
        color: white;
      }
    }

    .card-footer {
      border: none;

      .btn-custom {
        background: var(--Accent_Buttons);
        color: var(--Accent_Color);

        &:hover {
          i {
            transform: translateX(-10px);
          }
        }
      }

      a {
        i {
          transition: all 200ms ease;
        }
      }
    }

    .card-body {
      > * {
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
      }
    }
  }
}


@media (min-width: 768px) {
  .features_stats .features {
    width: 100%;
  }
  .features_stats .stats {
    width: 100%;
  }
}

/* Size of Iphone 4 to Iphone XS Max */
@media only screen and (min-device-width: 320px) and (max-device-width: 830px) {

  .svg_1, .svg_1Alt, .svg-2 {
    display: none;
  }

  .navbar .btn-discord {
    position: absolute;
    bottom: -3rem;
    right: 0;
    opacity: 0;
  }
  .navbar .btn {
    transition: opacity ease 200ms;
  }
  .navbar .btn-servers {
    position: absolute;
    bottom: -3rem;
    opacity: 0;
  }
  .navbar-collapse.show .btn {
    opacity: 1;
  }
  .navbar .dropdown-menu {
    position: relative;
    z-index: 99999;
  }
  .latest_info {
    display: none !important;
  }
  .features .feature:last-child {
    margin-bottom: 3rem !important;
  }
  .svg-4 {
    display: none;
  }
  .servers .server:nth-child(even) img {
    margin-bottom: 1rem;
  }
  .servers .server:nth-child(even) .rect {
    height: 500px !important;
    left: -725px !important;
  }
  .servers .server:nth-child(odd) {

  }
  .servers .server:nth-child(odd) .rect {
    right: -710px !important;
    top: -6rem !important;
    margin-top: -1.75rem !important;
    height: 390px !important;
  }
  #forums iframe {
    width: 383px !important;
  }
}

/* Bigger than Iphone XS Max */
@media only screen and (max-device-width: 830px) {
  #board .content {
    margin-left: .25rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}

.modal-content {
  color: white !important;
  background-color: #19191b;
  border-color: #19191b !important;
}

#changelog {
  @media (min-width: 1400px) {
    & {
      max-width: 1390px !important;
    }
  }

  @media (min-width: 1500px) {
    & {
      max-width: 1540px !important;
    }
  }

  .day {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 2.25rem;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      color: white;
      font-weight: 700;
    }

    .card {
      background-color: $backgroundAlt;
      color: rgba(255, 255, 255, .75);
      overflow: hidden;
      position: relative;

      .card-header {
        border: none;

        h4, small {
          padding: 0;
          margin: 0;
        }

        h4 {
          color: white;
          font-weight: 600;
        }

        small {
          color: rgba(255, 255, 255, .75);
          font-weight: 300;
        }
      }

      .card-labels {
        padding: 5px;
        background-color: rgba(255, 255, 255, .02);

        span {
          background-color: #B30A5320;
          margin: auto;
          padding: 10px;
          color: #b30a53;
          border-radius: 5px;

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }

      .card-body {
        padding-bottom: 0;
      }
    }

  }
}


#storeStats {
  .pagination {
    padding-left: 1rem;
  }

  .card {
    height: 100%;
    overflow: hidden;
    position: relative;
    border: 0;
    padding-bottom: 0;

    .card-title {
      font-weight: 400;
      font-size: 1.55rem;
    }

    .card-body {
      display: flex;

      h4 {
        display: inline-flex;
        flex-grow: 1;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: 300;
        font-size: 1.75rem;
        color: white;
      }

      .fa-stack {
        display: inline-block;
        flex-shrink: 0;
        margin-top: auto;
        margin-bottom: auto;

        .square {
          color: $backgroundHover !important;
        }
      }
    }


  }
}