//
.alert {
  margin-bottom: 20px;
  border: 1px solid $backgroundSecondary;


  &.fixedBar {
    background-color: $backgroundSecondary;
    z-index: 9999999;
    font-size: 16px;
    color: white;
    padding: 10px;
    font-weight: 400;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 80%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .content {
    display: inline-flex;
    align-items: center;

    .body {
      margin-right: 1.25rem;
    }
  }

  .icon {
    .fa-stack {
      i {
        position: absolute;
        z-index: 99;

        &:first-child {
          color: var(--Accent_Buttons);
          position: relative;
          z-index: 9999;
        }

        &:nth-child(2) {
          color: var(--Accent_Color) !important;
        }
      }
    }
  }

  span {
    color: var(--Accent_Color);
    font-weight: bold;
  }

  .close-btn {
    i {
      font-weight: bold;
      color: white;
      font-size: 1.25rem;
    }
  }

  .btn-custom {
    background-color: var(--Accent_Buttons);
    color: var(--Accent_Color) !important;
  }

  #sale-prev {
    position: absolute;
    left: -40px;
    top: 25px;
    color: white !important;
  }

  #sale-next {
    position: absolute;
    right: -40px;
    top: 25px;
    color: white !important;
  }
}

/* Top Donations */
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Store Server Selector */
/* Store Packages */
/* Checkout Page */
#store {
  .progress {
    background: $backgroundAlt;
    height: 40px;
    margin-bottom: 2rem;
    position: relative;
    z-index: 99;

    .progress-bar {
      background: var(--Accent_Buttons_hover);
      color: white !important;
      font-size: .85rem;
      text-transform: uppercase;
    }
  }

  .table {
    z-index: 999;
    position: relative;

    thead {
      border: none;
      background: $backgroundAlt;
      color: white;
      font-family: 'Gilroy', sans-serif;

      th {
        vertical-align: bottom;
        border: none;
      }
    }

    td {
      padding: .75rem;
      vertical-align: top;
      border: none;
    }

    tbody {
      tr {
        &:nth-child(1) {
          border: 1px solid var(--Accent_Color);
          transform: translate3d(0, 0, 0);
          animation: shake 5s cubic-bezier(.36, .07, .19, .97) infinite both;
        }
      }
    }
  }

  table {
    tbody {
      tr {
        color: rgba(255, 255, 255, .75);
        background: $backgroundPrimary;
        opacity: .5;
      }
    }
  }

  .top_donations {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.95rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
  }

  .store-content {
    margin-top: 4rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 99999;

    > * {
      color: rgba(255, 255, 255, .65);
    }
  }

  .card-server {
    z-index: 1;
    height: 200px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(33,33,33,.5);
    transition: transform 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  }

  .servers {
    .server {
      background: #232328 none repeat;
      background-size: auto;
      border: none;
      overflow: hidden;
      padding: 15px;
      position: relative;

      &:hover {
        transform: translateY(-.3333333333rem);
        box-shadow: 0 .5rem 2rem 0 var(--Accent_Background);
        cursor: pointer;
      }

      &:active {
        transform:none;
        box-shadow:0 .15rem 1.75rem 0 rgba(63,81,181,.15)
      }

      h3 {
        color: white;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
        font-family: 'Gilroy', sans-serif;
        margin-bottom: .5rem;
      }
    }
  }

  .svg-elipsis {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 50px;
  }

  .svg-circle_full {
    position: absolute;
    right: -100px;
    top: 40%;
    width: 500px;
    height: 556px;
  }

  .svg-circle_dashed {
    position: absolute;
    width: 300px;
    top: 392px;
    left: -41px;
  }

  .packages {
    .nav-item {
      cursor: pointer;
      background: var(--Accent_Buttons);
      transition: all 200ms ease;
      border: 1px solid transparent;
      border-radius: .25rem;

      a {
        color: var(--Accent_Color) !important;
        border: none !important;
      }

      &:hover {
        background: var(--Accent_Buttons_hover);
        border-color: white;
      }

      display: inline-flex;
      margin-right: 15px;

      @media only screen and (max-width: 451px) {
        display: inline-block;
        margin-right: 5px !important;
      }
      @media only screen and (max-width: 435px) {
        display: flex;
        flex-basis: 100%;
        width: 100%;
        margin-bottom: .25rem;
      }

      .nav-link {
        &.active, &:active, &:focus {
          background: var(--Accent_Color) !important;
          color: white !important;
          border-bottom: 1px solid white !important;
        }
      }
    }

    .package {
      background: $backgroundAlt !important;
      position: relative;
      overflow: hidden;
      border: none;

      .card-image {
        background-position: center !important;
        background-size: cover !important;
      }

      .card-header {
        border-bottom: none;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        h3 {
          color: white;
          font-weight: 600;
          white-space: normal !important;
        }

        span.price {
          color: var(--Accent_Color);
          font-size: 1.5rem;
        }
      }

      .card-body {
        color: white;
      }

      .card-footer {
        border-top: none;
        padding: 0 !important;
      }

      .purchase {
        width: 100% !important;

        a {
          background: var(--Accent_Buttons);
          color: var(--Accent_Color);
          transition: 200ms all ease;
          border-radius: 0 !important;
          margin: 0;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1rem;
          line-height: 2 !important;
          white-space: nowrap;

          &:hover {
            background: var(--Accent_Color);
            color: white;
          }

          &:active {
            background: var(--Accent_Color);
            color: white;
          }
        }

        button {
          background: var(--Accent_Buttons);
          color: var(--Accent_Color);
          transition: 200ms all ease;
          border-radius: 0 !important;
          margin: 0;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1rem;
          line-height: 2 !important;
          white-space: nowrap;
        }

        a.loggedOut {
          background: rgba(231, 76, 60, .15);
          color: #e74c3c;

          &:hover {
            background: #e74c3c;
            color: white;
          }
        }

        .row {
          .col-md-6 {
            padding: 0 !important;
          }
        }

        span {
          background: rgba(0, 184, 148, .15);
          padding: 1rem;
          color: #00b894;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1rem;
          border-radius: 0 !important;

          &:hover {
            background: rgba(0, 184, 148, 1);
            color: white;
          }
        }

        span.non-permanent {
          background: rgba(214, 48, 49, .15);
          color: #d63031;

          &:hover {
            background: rgba(214, 48, 49, 1);
            color: white;
          }
        }
      }
    }
  }

  .package {
    .form-control {
      border-radius: 0 !important;
    }

    .price.new {
      color: #27ae60 !important;
      font-weight: bold !important;
    }

    .price.old {
      color: #e74c3c !important;
      font-size: 1rem !important;
      font-weight: 500 !important;
    }
  }
}

.table {
  th {
    padding: .75rem;
    vertical-align: top;
    border: none;
  }
}

#checkout {
  .card {
    background: $backgroundAlt !important;
    position: relative;
    overflow: hidden;
    border: none;

    input {
      height: 40px;
      background: rgba(255, 255, 255, .05);
      border: none !important;
      color: white;
      padding: 15px 10px 15px 10px;
    }
  }

  .package_item {
    position: relative;
    display: block;
    padding: 1rem 1rem;
    background-color: $backgroundPrimary;
    border-bottom: 2px solid $backgroundAlt;
    text-decoration: none;
    text-emphasis: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    a.accordion_btn {
      font-size: 1rem;
      color: white;
    }

    .package_title {
      font-size: 1.25rem;
      color: white;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .package_price {
      font-size: 1.25rem;
      color: white;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-left: auto;
    }

    .card-title {
      font-weight: 800;
      color: white;
    }

    .non-image {
      height: 100px !important;
      background-color: var(--Accent_Color);
      position: relative;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        background: black;
        opacity: .2;
        width: 100%;
        height: 100%;
      }

      h4 {
        text-align: center;
        margin-top: 1.25rem;
        color: white;
        letter-spacing: 2px;
        font-size: 2rem;
      }
    }
  }

  .btn-outline-custom {
    border: 1px solid #17a2b8;
    background: transparent;
    transition: 200ms border ease;

    &:hover {
      border: 1px solid #1745b8;
      background: transparent;
    }

    &:active {
      border: 1px solid #1745b8;
      background: transparent;
    }

    img {
      max-width: 100px;
      height: auto;
    }
  }

  .action {
    h5 {
      padding: 5px 15px 10px 15px;
      color: white;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.25px;
    }
  }

  .col-right {
    margin-right: -3rem;
  }

  .col-left {
    margin-left: -3rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) {
  #checkout {
    .action {
      display: block;
      flex-basis: 100%;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      flex-wrap: wrap;
    }

    .col-right {
      margin-right: 0;
      margin-bottom: 2.25rem;
    }

    .col-left {
      margin-left: 0;
      margin-bottom: 1.25rem;
    }

    .finalize {
      display: block;

      .button {
        text-align: left !important;
        margin-top: .95rem;
      }
    }

    input {
      width: 100% !important;
    }
  }
}

.btn-checkout:hover {
  background-color: var(--Accent_Color) !important;
  color: white !important;
}