@import '~bootstrap/scss/bootstrap';

@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/material.css';
@import '~tippy.js/dist/backdrop.css';
@import '~tippy.js/animations/shift-away.css';
@import '~toastr/toastr';

blockquote {
  border-left: 2px solid white;
  padding-left: 1rem;
}

.animations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alert {
  margin-bottom: 20px;
  border: 1px solid var(--defaultBackgroundColor, #14151d);

  &.fixedBar {
    background-color: var(--defaultBackgroundColor, #14151d);
    z-index: 999999999999999999;
    font-size: 16px;
    color: white;
    padding: 10px;
    font-weight: 400;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 80%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25),0 8px 16px -8px rgba(0,0,0,0.3),0 -6px 16px -6px rgba(0,0,0,0.025);
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .content {
    display: inline-flex;
    align-items: center;
    .body {
      margin-right: 1.25rem;
    }
  }
  .icon {
    .fa-stack {
      i {
        position: absolute;
        z-index: 99;
        &:first-child {
          color: var(--accent, #3498db);
          opacity: .3;
          position: relative;
          z-index: 9999;
        }
        &:nth-child(2) {
          color: var(--accent, #3498db) !important;
          opacity: 1;
        }
      }
    }
  }
  span {
    color: var(--accent, #3498db);
    font-weight: bold;
  }
  .close-btn {
    i {
      font-weight: bold;
      color: white;
      font-size: 1.25rem;
    }
  }
  .btn-custom {
    background-color: var(--accent, #3498db);
    color: white !important;
  }
  #sale-prev {
    position: absolute;
    left: -40px;
    top: 25px;
    color: white !important;
  }
  #sale-next {
    position: absolute;
    right: -40px;
    top: 25px;
    color: white !important;
  }
}

//OVERWRITE {
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: unset;
}
.badge {
  vertical-align: middle !important;
}
#store, #forums:not(#latest_threads, #search_posts, #latest_posts) {
  .card-header {
    .title, .card-title h3, h2, {
      text-overflow: unset !important;
      overflow: visible !important;
    }
  }
}
.tbody > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}