// Color Variables
$fontWeight: 400;
$fontFamily: 'Ubuntu';

$accentColor: #fd4d4d;
$accentColorHover: #fd6868;
$backgroundPrimary: #14151d;
$backgroundSecondary: #1f2029;
$backgroundSecondaryAlt: #151a21;

@import './components/_functions';
@import './components/_globals';
@import './components/_misc';
@import './components/_home';
@import './components/_forums';
@import './components/_store';

.answers {
  .progress {
    height: 30px;
    border-radius: .25rem;
    background-color: $backgroundPrimary;
    .progress-bar {
      color: white !important;
      font-size: 0.85rem;
      text-transform: uppercase;
      background-color: $accentColorHover !important;
    }

  }
  .progressSort {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}
