//
#forums {

  .form-control {
    background-color: #14151d;
    border: 1px solid #14151d !important;
    color: white !important;
  }


  #category {
    border: none;
    background-color: $backgroundSecondary;

    .card-header {
      background-color: $backgroundSecondary;

      .card-title {
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
      }

      .card-desc {
        color: rgba(255, 255, 255, .75);
        font-weight: 300;
      }
    }

    .setWidth {
      width: 35px;
      @media (max-width: 830px) {
        width: 25px !important;
      }
    }

    #board {
      background-color: transparent;
      border: none;
      transition: background-color 200ms ease;

      &:hover {
        background-color: $backgroundPrimary;
      }

      .info {
        .title {
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 400;
        }

        .description {
          color: rgba(255, 255, 255, .75);
          font-weight: 300;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      .latest_info {
        .thread_title {
          color: white;
          font-weight: 400;
          font-size: 1.15rem;
        }

        .thread_author {
          color: rgba(255, 255, 255, .75);
          font-weight: 300;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  #search_threads.card {
    i {
      display: none;
    }

    background-color: $backgroundSecondary;

    .card-title {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
    }

    .card-desc {
      color: rgba(255, 255, 255, .75);
      font-weight: 400;
    }

    .card-body {
      .card {
        background-color: $backgroundSecondary;
        border: none;
        transition: background-color 200ms ease;
        padding: 8px;

        &:hover {
          background-color: $backgroundPrimary;
        }

        h6 {
          color: white;
          font-weight: 400;
        }

        p {
          color: rgba(255, 255, 255, .75) !important;
          font-weight: 400;
        }
      }
    }
  }

  #recent_activity.card {
    background-color: $backgroundSecondary;

    .card-title {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
    }

    .card-desc {
      color: rgba(255, 255, 255, .75);
      font-weight: 400;
    }

    .card-body {
      .card {
        background-color: $backgroundSecondary;
        border: none;
        transition: background-color 200ms ease;
        padding: 8px;

        &:hover {
          background-color: $backgroundPrimary;
        }

        h6 {
          color: white;
          font-weight: 400;
        }

        p {
          color: rgba(255, 255, 255, .75) !important;
          font-weight: 400;
        }
      }
    }
  }

  #latest_threads.card {
    background-color: $backgroundSecondary;

    .card-title {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
    }

    .card-desc {
      color: rgba(255, 255, 255, .75);
      font-weight: 400;
    }

    .card-body {
      .card {
        background-color: $backgroundSecondary;
        border: none;
        transition: background-color 200ms ease;
        padding: 8px;

        &:hover {
          background-color: $backgroundPrimary;
        }

        h6 {
          color: white;
          font-weight: 400;
        }

        p {
          color: rgba(255, 255, 255, .75) !important;
          font-weight: 400;
        }
      }
    }
  }

  #latest_posts.card {
    background-color: $backgroundSecondary;

    .card-title {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
    }

    .card-desc {
      color: rgba(255, 255, 255, .75);
      font-weight: 400;
    }

    .card-body {
      .card {
        background-color: $backgroundSecondary;
        border: none;
        transition: background-color 200ms ease;
        padding: 8px;

        &:hover {
          background-color: $backgroundPrimary;
        }

        h6 {
          color: white;
          font-weight: 400;
        }

        p {
          color: rgba(255, 255, 255, .75) !important;
          font-weight: 400;
        }
      }
    }
  }

  #forum_polls.card {
    background-color: $backgroundSecondary;

    .card-title {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
    }

    .card-desc {
      color: rgba(255, 255, 255, .75);
      font-weight: 400;
    }

    .card-body {
      background-color: $backgroundSecondary;
      border: none;
      transition: background-color 200ms ease;
      padding: 15px !important;
      padding-bottom: 0 !important;

      h5 {
        color: white;
        font-size: 1.25rem;
      }

      p {
        color: rgba(255, 255, 255, .75);
        font-size: 1rem;
      }

      label {
        color: rgba(255,255,255,.75);
      }
    }
  }
}

#threads {
  .thread {
    background-color: $backgroundSecondary;
    transition: background-color 200ms ease;

    &:hover {
      &:not(.reps) {
        background-color: $backgroundPrimary;
      }

      .reactions {
        .reaction {
          opacity: 1;
        }
      }
    }

    .title {
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
    }

    .username_full {
      color: rgba(255, 255, 255, .75);
      font-weight: 300;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .reactions {
      width: 100%;
      position: absolute;
      bottom: 0 !important;
      right: 20px !important;
      display: inline-block;
      flex-flow: row wrap;
      font-size: .87rem;
      color: white;

      .reacted {
        left: 40px !important;
        position: relative !important;
        .reaction {
          img {
            width: 20px !important;
            height: 20px !important;
          }
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }

      .reaction {
        vertical-align: center;
        height: 20px;
        width: 20px;
        opacity: .45;
        transition: opacity 200ms ease;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    h5 {
      color: white;
    }

    .col {
      &:not(p) {
        color: white;
      }
    }
  }

  .thread-title {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

#chatbox {
  &.card {
    border: transparent solid 2px;
    background-color: $backgroundSecondary;
    width: 100%;
  }
  .card-header {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    h5 {
      letter-spacing: 1.5px;
      color: white;
    }
  }

  .card-body {
    width: 100%;
    .fixed-height {
      max-height: 250px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .timestamp {
      p {
        margin: 0;
        padding: 0 10px 0 0;
        color: rgba(255,255,255,.35);
        font-size: .65rem;
      }
    }

    div {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      img.avatar {
        margin-right: 5px;
        max-height: 50px;
        width: auto;
      }
      p.username {
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }
      p.content {
        font-size: .85rem;
        color: rgba(255,255,255,.65);
      }

    }
    form {
      width: 100%;
      .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background-color: $backgroundPrimary;
        border: none !important;
        color: white;

        &:focus {
          border: none;
          box-shadow: none !important;
          color: white;
        }
      }
    }
  }
}

.polls {
  .form-control {
    background-color: $backgroundSecondary !important;
  }

  #category {
    .card-body p {
      color: rgba(255, 255, 255, .75);
    }
  }

  .progress {
    height: 30px;
    border-radius: .25rem;
    background-color: $backgroundPrimary;
    .progress-bar {
      background-color: $accentColor;
      color: white !important;
      font-size: 0.85rem;
      text-transform: uppercase;
    }

  }
  .progressSort {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

}
