//
.alert {
  margin-bottom: 20px;
  border: 1px solid $backgroundPrimary;

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .content {
    display: inline-flex;
    align-items: center;

    .body {
      margin-right: 1.25rem;
    }
  }

  .icon {
    .fa-stack {
      i {
        position: absolute;
        z-index: 99;

        &:first-child {
          color: $accentColor;
          opacity: .3;
          position: relative;
          z-index: 9999;
        }

        &:nth-child(2) {
          color: $accentColor !important;
          opacity: 1;
        }
      }
    }
  }

  span {
    color: $accentColor;
    font-weight: bold;
  }

  .close-btn {
    i {
      font-weight: bold;
      color: white;
      font-size: 1.25rem;
    }
  }

  .btn-custom {
    background-color: $accentColor;
    color: white !important;
  }

  #sale-prev {
    position: absolute;
    left: -40px;
    top: 25px;
    color: white !important;
  }

  #sale-next {
    position: absolute;
    right: -40px;
    top: 25px;
    color: white !important;
  }
}

.alert.fixedBar {
  background-color: $backgroundPrimary;
  z-index: 99999999;
  font-size: 16px;
  color: white;
  padding: 10px;
  font-weight: 400;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 80%;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

#store {
  .nav-item {
    cursor: pointer;
    background: $backgroundSecondary;
    transition: all 200ms ease;
    border: 1px solid transparent;
    border-radius: .25rem;

    a {
      color: $accentColor;
      border: none !important;
    }

    &:hover {
      background: $accentColor;
      border-color: white;
      a {
        color: white;
      }
    }

    display: inline-flex;
    margin-right: 15px;

    @media only screen and (max-width: 451px) {
      display: inline-block;
      margin-right: 5px !important;
    }
    @media only screen and (max-width: 435px) {
      display: flex;
      flex-basis: 100%;
      width: 100%;
      margin-bottom: .25rem;
    }

    .nav-link {
      &.active, &:active, &:focus {
        background: $accentColor !important;
        color: white !important;
        border-bottom: 1px solid white !important;

        a {
          color: white !important;
        }
      }
    }
  }

  .store_section-title {
    color: white;
    font-weight: 400;
    font-size: 1.85rem;
  }

  .progress {
    height: 40px;
    background: $backgroundSecondary;
    color: white;

    .progress-bar {
      font-size: 1.15rem;
      background-color: $accentColor;
    }
  }

  table {
    thead {
      border: none !important;
    }

    tbody {
      border: none !important;
    }

    tr {
      border: none !important;
    }

    td {
      border: none !important;
    }

    th {
      border: none !important;
    }
  }

  .table {
    thead {
      background-color: $backgroundSecondary;
      color: white;
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $backgroundPrimary;
          opacity: .5;
          color: white;
        }

        &:nth-child(even) {
          background-color: $backgroundSecondary;
          opacity: 1;
          color: white;
        }
      }
    }
  }

  .server {
    position: relative;
  }

  .card {
    background-color: $backgroundSecondary;
    position: relative;
  }

  .package {
    .name {
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      width: 75%;
      margin-top: -2rem;
      z-index: 99;
      background: $backgroundSecondary;
      color: white;
      font-size: 1rem;
      white-space: normal !important;
    }

    .card-header {
      height: 150px;
      border-radius: 5px 5px 0 0;
      margin-top: -1.95rem;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .perma {
      width: 100%;
      margin: 0 auto;
      background: #34343c;
      position: absolute;
      bottom: -10px;
      left: 0;
      border-radius: 0;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .form-control {
      background-color: rgb(40, 41, 51);
      border-radius: 0 !important;
      color: white;
      width: 100%;
      border: none;
    }

    .input {
      &:focus {
        border-color: transparent !important;
        outline: 0;
        box-shadow: none !important;
      }
    }

    .row {
      .col-md-6 {
        padding: 0;
      }
    }

    .btn {
      text-align: center;
      background-color: $accentColor;
      opacity: .7;
      height: 100%;
      width: 100%;
      border-radius: 0 !important;
      font-size: 1rem !important;
      padding: 1rem;
      line-height: 0.7 !important;

      span.fix {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        opacity: 1;
        color: white;
      }
    }
  }
}

#checkout {
  .card {
    background-color: $backgroundSecondary;
    position: relative;
  }

  .card-footer {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .col-md-6 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  span.badge {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    height: 100%;
    border: none;
    font-size: 1rem;
  }

  span.price {
    background-color: rgba(70, 81, 185, .2);
    color: #4651B9;
  }

  span.perma {
    background-color: rgba(232, 67, 147, .2);
    color: #e84393;
  }

  .package {
    .card-header {
      .card-title {
        color: white;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .action {
    h5 {
      padding-left: 10px;
      color: white;
      opacity: .8;
      font-weight: 300;
      letter-spacing: 2px;
      padding-bottom: 8px;
    }

    input {
      width: 100%;
      background-color: #31323c;
      border: none;
      color: white;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .upper-title_small {
      align-self: baseline;
      align-items: baseline;
      display: flex;
      margin-top: auto;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

#tos {
  margin-top: 2rem;

  .card {
    background-color: $backgroundSecondary;

    .card-body {
      color: white;
    }
  }
}

#storeStats {
  .pagination {
    padding-left: 1rem;
  }
  .card {
    height: 100%;
    overflow: hidden;
    position: relative;
    border: 0;
    padding-bottom: 0;
    background-color: $backgroundPrimary;

    .card-title {
      font-weight: 400;
      font-size: 1.55rem;
      color: white;
    }

    .card-body {
      display: flex;

      h4 {
        display: inline-flex;
        flex-grow: 1;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: 300;
        font-size: 1.75rem;
        color: white;
      }

      .fa-stack {
        display: inline-block;
        flex-shrink: 0;
        margin-top: auto;
        margin-bottom: auto;

        .square {
          color: $backgroundSecondary !important;
        }
      }
    }


  }
}