* {
  transition: all 200ms ease;
}

.token {
user-select: all;
}

@keyframes scalePulse {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.scale-pulse {
  animation: scalePulse 2s infinite;
}

#settings {
  ul.nav {
    .nav-item {
      transition: all 200ms ease;

      &:not(:last-child) {
        margin-right: 5px;
      }

      border-radius: 4px;

      a {
        color: white;
      }

      &:hover {
        background-color: var(--warning) !important;
        border-radius: 6px;
      }
    }
  }

  button {
    text-emphasis: none;
    text-decoration: none;
  }

  .category-name {
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  .config-name {
    font-size: 0.995rem;
    font-weight: lighter;
  }

  .accord {
    background: #fbfbfb;
    border-radius: 8px;
    text-align: left !important;
    border: none;

    .card-header {
      padding: 15px;
      background-color: #fff;

      background-size: cover;

      h5 {
        color: #858796;
      }
    }
  }
}


.dashButtons {
  display: inline-flex;

  @media only screen and (max-width: 993px) {
    display: unset;
    .button {
      margin-right: 0 !important;
      margin-bottom: 5px;
      display: inline-block;
      text-align: left;
      align-content: start;
    }

  }

  .button {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}


// Accordion
.accordion__ {
  border-left: solid #f00 3px;
  border-radius: 0.35rem !important;

  &[aria-expanded="true"] {
    border-left-color: #0f0;

    i {
      transform: rotate(90deg);
    }
  }

  p, i {
    color: black !important;
  }
}


[data-theme="dark"] {
  $backgroundPrimary: #23262b;
  $backgroundSecondary: #1e2024;
  $backgroundCards: #1b1e22;

  $defaultTitleColor: #f8f9f9;
  $defaultTextColor: #b1b1b5;

  $accentColor: #1d40a4;
  $accentDarker: #224abe;


  #updater-banner {
    background: linear-gradient(135deg, #1d40a4 0%, #224abe 100%);
    color: #FFF;


    .btn-update {
      color: #fff !important;
      background-color: #062c994f;

    }

    .btn-close {
      color: white;
      opacity: 0.8;

      &:hover {
        background-color: #284eaf;
      }
    }
  }



  .tox {
    position: relative !important;
    color: white;
    border: none !important;

    .tox-toolbar, .tox-toolbar__overflow, .tox-toolbar__primary,
    .tox-dialog, .tox-dialog__header, .tox-dialog__footer {
      background: #2f3237 !important;
      color: white !important;
    }

    &:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type) {
      border-right: 1px solid transparent !important;
    }

    * {
      border: none !important;
    }

    span, button {
      color: white !important;
    }

    svg {
      fill: white !important;
    }

    .tox-split-button:hover {
      box-shadow: none !important;
    }

    .tox-tbtn {
      transition: all 200ms ease;

      &:hover, &:active {
        background: $accentColor !important;
        border: none !important;
        color: white !important;
      }

      color: rgba(255, 255, 255, .75) !important;
    }

    .tox-edit-area__iframe, .tox-statusbar {
      background-color: transparent !important;
      border-radius: 0 0 .6rem .6rem;
    }

    .tox-tbtn--enabled {
      background-color: $accentColor !important;
      color: white;
    }

    .tox-toolbar {
      background-color: #2f3237 !important;
      border: none !important;
    }

    .tox-textfield {
      background-color: #3d3f42 !important;
      border: none !important;
      color: white !important;
    }

    .tox-edit-area {
      color: white;
      border-top: 1px solid #ccc !important;
      background: #2f3237 !important;
    }

    .tox-button--secondary {
      color: white !important;
      background-color: gray !important;
    }

    .tox-dialog-wrap__backdrop {
      background-color: rgba(25, 25, 25, .75) !important;
    }
  }


  #settings {
    ul.nav {
      .nav-item {
        transition: all 200ms ease;
        background-color: #0202024d !important;

        &:not(:last-child) {
          margin-right: 5px;
        }

        border-radius: 4px;

        a {
          color: white;
        }

        &:hover {
          background-color: rgba(2, 2, 2, 0.7) !important;
          border-radius: 6px;
        }
      }
    }

    .accord {
      .card-header {
        padding: 15px;
        background-color: #0202024d !important;
        background-image: none !important;
        background-size: cover;

        h5 {
          color: white;
        }
      }
    }
  }


  textarea {
    background-color: $backgroundSecondary !important;
  }


  h1, h2:not(.swal2-title), h3, label {
    color: $defaultTitleColor !important;
  }

  p, .h5 {
    color: $defaultTextColor !important;
  }

  .topbar .topbar-divider {
    width: 0;
    border-right: 1px solid $accentDarker !important;
    border-right-color: $accentDarker !important;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
  }

  code {
    background-color: #1b1e22 !important;
    color: #224abe !important;
    padding: 5px !important;
    border-radius: .35rem;

    .quote {
      color: #27ae60;
    }
  }

  .form-control, .custom-select {
    background: $backgroundSecondary !important;
    color: rgba(255, 255, 255, .85);
    border: none !important;

    &::placeholder, {
      color: #333333;
      opacity: 1;
    }
  }

  .input-group-text {
    color: $defaultTextColor;
    background-color: $backgroundPrimary;
    border-color: $backgroundPrimary;
    border-right: 1px solid rgba(255, 255, 255, .75);
  }

  .bs-placeholder, .dropdown-menu {
    background-color: $backgroundPrimary;
    border-color: $backgroundPrimary;
    color: $defaultTextColor;

    .dropdown-item {
      color: $defaultTextColor !important;
      padding: 10px;

      &:hover {
        background-color: $backgroundSecondary !important;
      }
    }
  }


  body {
    color: $defaultTextColor !important;
    text-align: left;
    background-color: $backgroundPrimary !important;
  }

  .sticky-footer {
    background-color: $backgroundSecondary !important;
  }

  .bg-gradient-primary {
    background-color: $accentColor;
    background-image: linear-gradient(180deg, $accentColor 10%, $accentDarker 100%);
    background-size: cover;
  }

  .bg-white {
    background-color: $backgroundSecondary !important;
    border: none !important;
  }

  .collapse-item {
    color: $defaultTitleColor !important;

    &:hover {
      background-color: $backgroundPrimary !important;
    }
  }

  .topbar-divider {
    border-right-color: white !important;
  }

  #content-wrapper {
    background-color: $backgroundPrimary !important;
    width: 100%;
    overflow-x: hidden;
  }

  .navbar-expand {
    background-color: $backgroundSecondary !important;
  }

  .list-group-item {
    background-color: $backgroundCards !important;
    color: $defaultTextColor !important;
  }

  .card, .modal-content {
    background-color: $backgroundCards !important;
    border: none !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) !important;

    .card-header:not(.accordion__), .modal-header {
      background-color: $backgroundCards !important;
      border: none !important;

      > * {
        color: $defaultTitleColor !important;
        font-weight: bold;
      }
    }

    .card-body {
      border: none !important;
    }

    .card-footer, .modal-footer {
      background-color: $backgroundCards !important;
      border: none !important
    }

    &.deleted {
      background-color: #3a3b45 !important;
    }
  }


  .page-item {
    &.disabled .page-link {
      color: $defaultTextColor;
      pointer-events: none;
      cursor: auto;
      background-color: $backgroundSecondary;
      border-color: $backgroundSecondary;
    }

    &.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: $accentColor;
      border-color: $accentColor;
    }

    .page-link {
      background-color: $backgroundSecondary;
      border-color: $backgroundSecondary;
      color: $defaultTextColor;

      &:hover {
        background-color: $accentDarker;
      }
    }
  }

  .accordion__ {
    background-color: $backgroundPrimary !important;

    border: none;
    border-left: solid #f00 3px;

    &[aria-expanded="true"] {
      border-left-color: #0f0;
    }

    p, i {
      color: #ddd !important;
    }

    > * {
      color: $defaultTitleColor !important;
      font-weight: bold;
    }
  }

  .alert-warning {
    color: white !important;
    background-color: #806520 !important;
    border-color: #806520 !important;
  }

  .table {
    thead {
      tr {
        border: none !important
      }

      th {
        border: none !important
      }

      border: none !important;
    }
  }


  .border-left-success {
    border: none;
    border-left: .25rem solid #27ae60 !important;
  }

  .text-success {
    color: #27ae60 !important;
  }

  .btn-success {
    color: #fff;
    background-color: #27ae60 !important;
    border-color: #27ae60 !important;
  }


  .border-left-info {
    border: none;
    border-left: .25rem solid #0b6f7c !important;
  }

  .text-info {
    color: #27ae60 !important;
  }

  .btn-info {
    color: #fff;
    background-color: #0b6f7c !important;
    border-color: #0b6f7c !important;
  }


  .border-left-primary {
    border: none;
    border-left: .25rem solid $accentDarker !important;
  }

  .text-primary {
    color: $accentDarker !important;
  }

  .btn-primary {
    color: #fff;
    background-color: $accentDarker !important;
    border-color: $accentDarker !important;
  }


  .border-left-warning {
    border: none;
    border-left: .25rem solid #d35400 !important;
  }

  .text-warning {
    color: #d35400 !important;
  }

  .btn-warning {
    color: #fff;
    background-color: #d35400 !important;
    border-color: #d35400 !important;
  }


  .border-left-danger {
    border: none;
    border-left: .25rem solid #c0392b !important;
  }

  .text-danger {
    color: #c0392b !important;
  }

  .btn-danger {
    color: #fff;
    background-color: #c0392b;
    border-color: #c0392b;
  }


  .border-left-secondary {
    border: none;
    border-left: .25rem solid #5b5c62 !important;
  }

  .text-secondary {
    color: #5b5c62 !important;
  }

  .btn-secondary {
    color: #fff;
    background-color: #5b5c62;
    border-color: #5b5c62;
  }


  .nested-sortable {
    .list-group-item {
      border: 1px solid slategrey !important;
    }
  }

}
