//////////////////////////////////////////////////
/////////////       VARIABLES       //////////////
//////////////////////////////////////////////////
$fontFamily: Ubuntu;
$fontSize: 400;

$accentColor: var(--Accent_Color);
$accentBackground: var(--Accent_Background);
$accentButtonsBG: var(--Accent_Buttons);
$accentButtonsHV: var(--Accent_Buttons_Hover);
$accentIconsColor: var(--Accent_Icons);

$defaultBackgroundURL: var(--Background_Image);
$defaultBackgroundOPQ: rgba(0, 0, 0, .45);
$defaultBackgroundHVR: rgba(0, 0, 0, .2);
$backgroundGradient: linear-gradient(80deg, rgba(28, 28, 33, 0.590937) 55.21%, rgba(28, 28, 33, 0) 100%), $defaultBackgroundURL;

//////////////////////////////////////////////////
//////////////       GLOBALS       ///////////////
//////////////////////////////////////////////////
@import 'components/_global';


//////////////////////////////////////////////////
//////////////      UTILITIES      ///////////////
//       Incl: Pagination, Modal, TinyMCE       //
//          Custom-Radio & Breadcrumbs          //
//////////////////////////////////////////////////
@import 'components/_utils';


//////////////////////////////////////////////////
//////////////      HOME PAGE      ///////////////
//////////////////////////////////////////////////
@import 'components/_home';


//////////////////////////////////////////////////
//////////////     MISC PAGES      ///////////////
//         Inc: Staff, Users, Profile           //
//             Notifications, TOS &             //
//                  CHANGELOGS                  //
//////////////////////////////////////////////////
@import 'components/_misc';
@import 'components/_dataTable';

//////////////////////////////////////////////////
//////////////       FORUMS        ///////////////
//        Inc: Forums, Threads & Boards         //
//////////////////////////////////////////////////
@import 'components/_forums';

//////////////////////////////////////////////////
//////////////        STORE        ///////////////
//    Inc: Store, Checkout, Status, Servers     //
//////////////////////////////////////////////////
@import "components/_store";