@import url('https://fonts.googleapis.com/css2?family=#{$fontFamily}:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@media (min-width: 1400px) {
  .container:not(.leader-tainer) {
    max-width: 1340px
  }
}

@media (min-width: 1500px) {
  .container:not(.leader-tainer) {
    max-width: 1440px;
  }
}


html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: $backgroundGradient;
  background-size: cover;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-emphasis: none !important;
  text-decoration: none !important;
}

.app {
  flex: 1;
}

nav.navbar {
  background-color: $defaultBackgroundOPQ;
  padding: .75rem 2rem !important;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
    width: 100%;
    height: 2px;
  }

  .navbar-brand img {
    max-width: 50px;
    height: auto;
    margin: auto;
    padding: 0;
    border-radius: 99999px;
  }

  .nav-item {
    cursor: pointer
  }

  .nav-link {
    color: rgba(255, 255, 255, .75);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    transition: color 200ms ease;

    &:hover, &:active {
      color: white;
    }
  }

  .dropdown img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
    padding: 0;
    border-radius: 99999px;
  }

  .dropdown-menu {
    background-color: $defaultBackgroundOPQ;
    position: relative;

    &:before {
      position: absolute;
      top: -45px;
      z-index: 9999;
      font-size: 3rem;
      font-family: "Font Awesome 6 Pro", serif;
      content: '\f0d8';
      font-weight: 900;
      left: 50%;
      color: $defaultBackgroundOPQ;
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
      &:before {
        display: none !important;
      }
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: linear-gradient(to right, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
      width: 100%;
      height: 2px;
    }

    .dropdown-item {
      color: white;
      display: flex !important;
      transition: all 200ms ease;
      padding: 0.25rem 1.5rem .25rem .5rem !important;

      .fa-stack i:first-child {
        color: $accentColor;
        position: relative;
      }

      .fa-stack i:nth-child(2) {
        color: white !important;
      }

      &:hover, &:active, &:visited {
        background: rgba(0, 0, 0, .25);
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
      }

      .content h5 {
        color: white;
        font-size: 1rem;
        margin-bottom: 0;
      }

      .content p {
        font-size: .85rem;
        color: rgba(220, 220, 220, .75);
      }
    }
  }
}

.header {
  .titles {
    padding-top: 6rem;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;

    h3 {
      color: rgba(255, 255, 255, .75);
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h1 {
      color: white;
      font-weight: 500;
      font-size: 4rem;
    }
  }
}

.hero {
  .titles {
    padding-top: 12rem;
    text-align: center;
    align-items: center;

    h3 {
      color: rgba(255, 255, 255, .75);
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h1 {
      color: white;
      font-weight: 500;
      font-size: 4rem;
    }
  }

  .steam-group {
    text-align: center;

    .btn {
      max-width: 600px;
      width: 100% !important;
      margin-top: 1.25rem;
      color: rgba(255, 255, 255, .75);
      border: 1px solid $defaultBackgroundOPQ;
      background-color: $defaultBackgroundOPQ;
      transition: all 200ms ease;

      &:hover {
        color: white;
        background-color: $accentColor;
        border-color: $accentColor;
      }
    }

    .list {
      margin-top: 8rem;
      justify-content: center;
      text-align: center;
      align-items: center;
      display: flex;

      @media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
        & {
          flex-direction: row;
          display: block;
        }
        .stat {
          flex-basis: 100%;
          display: inline;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .stat {
        padding: 15px;
        margin-bottom: 10px;
        border-radius: .25rem;
        max-width: 200px;
        background: $defaultBackgroundOPQ;

        &:not(:last-child) {
          margin-right: 15px;
        }

        .title {
          text-transform: uppercase;
          color: white;
          font-weight: 600;
        }

        .counter {
          color: white;
          font-weight: 500;
        }

      }
    }
  }
}

footer.footer {
  background-color: $defaultBackgroundOPQ !important;
  position: relative;
  flex-shrink: 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
    width: 100%;
    height: 2px;
  }

  .copyright {
    color: white;
  }

  h6 {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    padding: 0;
    color: rgba(255, 255, 255, .75);
  }

  .footer-link a {
    text-decoration: none;
    text-emphasis: none;
    color: rgba(255, 255, 255, .75);
    transition: color 200ms ease;

    &:hover {
      color: white !important;
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
    .social {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center
    }
    .social .footer-link {
      display: inline;
    }
    h6:not(.title) {
      margin-top: 1rem;
    }
  }
}

.gradient_top:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  background: linear-gradient(to right, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
  width: 100%;
  height: 2px;
}

.gradient_bottom:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: linear-gradient(to right, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
  width: 100%;
  height: 2px;
}

.gradient_right:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  background: linear-gradient(to bottom, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
  width: 2px;
  height: 100%;
}
.gradient_left:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background: linear-gradient(to bottom, rgba(255, 255, 255, .75) 35%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .75) 100%);
  width: 2px;
  height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 995px) {
  #forums {
    .latest_info {
      display: none;
    }
    .media-f {
      margin-left: .5rem !important;
      padding-left: 15px !important;
    }
    .media-g {
      margin-left: 3rem !important;
    }
  }
}
@media only screen and (min-device-width: 994px) {
  #forums {
    .media-g {
      margin-left: -1.65rem !important;
    }
    .media-f {
      margin-left: 1rem;
    }
    .col-8.media-g {
      margin-left: 1.95rem !important;
    }
  }
}