//
section .titles:not(.top) {
  margin-top: 4rem;
  text-align: center;

  h4 {
    color: rgba(255, 255, 255, .75);
    font-weight: 300;
    font-size: 1.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    color: white;
    font-weight: 500;
    font-size: 3rem;
  }
}


// FEATURES START
.features .feature {
  background-color: $defaultBackgroundOPQ !important;

  .card-title {
    margin-bottom: 0;
    margin-left: .65rem;
    color: white;
  }

  .card-body {
    padding-top: 0.7rem !important;
    color: rgba(220, 220, 220, .75);
  }
}

// SERVERS START
.servers .server {
  background-color: $defaultBackgroundOPQ !important;

  .card-title {
    margin-bottom: 0;
    margin-left: .65rem;
    color: white;
  }

  .card-body {
    padding-top: 0.7rem !important;
    color: rgba(220, 220, 220, .75);
  }

  .btn-connect {
    background: $accentButtonsBG;
    color: $accentColor;
    transition: all 200ms ease;

    &:hover {
      background: $accentColor;
      color: white;
    }
  }
}

// Leadership
.leaders .leader {
  border-radius: .25rem;
  background-color: $defaultBackgroundOPQ !important;
  text-decoration: none !important;
  text-emphasis: none !important;

  img {
    max-height: 5rem;
    height: auto;
    max-width: 5rem;
    width: auto;
    border-radius: .25rem;
    margin-right: 10px;
  }

  h5 {
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}