//
#store {
  .nav-item {
    cursor: pointer;
    background: $defaultBackgroundOPQ;
    transition: all 200ms ease;
    border: 1px solid transparent;
    border-radius: .25rem;

    a {
      color: $accentColor !important;
      border: none !important;
    }

    &:hover {
      background: $defaultBackgroundHVR;
      border-color: white;
      a {
        color: white !important;
      }
    }

    display: inline-flex;
    margin-right: 15px;

    @media only screen and (max-width: 451px) {
      display: inline-block;
      margin-right: 5px !important;
    }
    @media only screen and (max-width: 435px) {
      display: flex;
      flex-basis: 100%;
      width: 100%;
      margin-bottom: .25rem;
    }

    .nav-link {
      &.active, &:active, &:focus {
        background: $accentColor !important;
        color: white !important;
        border-bottom: 1px solid white !important;
      }
    }
  }

  .top-donors_title, .top_donors {
    font-weight: 400;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.55px;
  }

  .progress {
    background-color: $defaultBackgroundOPQ;
    height: 40px;
    margin-bottom: 2rem;
    position: relative;

    .progress-bar {
      background-color: $accentColor;
      color: white;
      font-size: .85rem;
      text-transform: uppercase;
    }
  }

  .table {
    thead {
      border: none;
      background: $defaultBackgroundOPQ;
      color: white;
      font-family: 'Gilroy', sans-serif;
    }

    th {
      vertical-align: bottom;
      border: none;
    }

    td, th {
      padding: .75rem;
      vertical-align: top;
      border: none !important
    }

    tbody {
      tr {
        color: rgba(255, 255, 255, .85);
        background: $defaultBackgroundHVR;
        opacity: .5;
        border: none;

        &:nth-child(1) {
          background: $defaultBackgroundHVR;
        }
      }
    }
  }

  .server {
    background-color: $defaultBackgroundOPQ !important;

    .card-title {
      margin-bottom: 0;
      margin-left: .65rem;
      color: white;
    }

    .card-body {
      padding-top: 0.7rem !important;
      color: rgba(220, 220, 220, .75);
    }
  }

  .packages {
    .package {
      background-color: $defaultBackgroundOPQ !important;
      border: none;
      border-radius: .25rem;

      .card-header {
        .card-title {
          font-weight: 500;
          text-transform: uppercase;
          color: white;
        }

        span {
          padding: .5rem !important;
          color: white;
          background-color: $defaultBackgroundHVR;

          &.sale {
            padding: 0 !important;
            width: 50% !important;

          }
        }
      }

      .card-image {
        height: 150px !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }

      input {
        border-radius: 0 !important;
        background: $defaultBackgroundHVR !important;
        border: none !important;
        color: white !important;

        &:focus {
          box-shadow: none !important;
        }
      }

      .perma {
        background: $defaultBackgroundHVR !important;
        min-width: 100% !important;
        width: 100%;
        padding: 10px;
        border-radius: 0 !important;
        color: #fff !important;
      }

      .buttons {
        .btn {
          border-radius: 0;
          min-width: 100% !important;
          width: 100%;
          border: 0 !important;
          text-align: center;
          transition: all 200ms ease;

          &.purchase {
            background-color: $accentButtonsBG;
            color: $accentColor;
            font-weight: 400;

            &:hover {
              background-color: $accentColor;
              color: white;
            }
          }

          &.loggedOut {
            background-color: rgba(214, 48, 49, .2);
            color: rgba(214, 48, 49, 1.0);
          }
        }

      }
    }
  }

  .checkout {
    background-color: $defaultBackgroundOPQ !important;
    border: none;
    border-radius: .25rem;


    .card-header {
      .card-title {
        font-weight: 500;
        text-transform: uppercase;
        color: white;
      }

      span {
        padding: .5rem !important;
        color: white;
        background-color: $defaultBackgroundHVR;

        &.sale {
          padding: 0 !important;
          width: 50% !important;

        }
      }
    }

    .card-image {
      height: 250px !important;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }

    .card {
      background-color: $defaultBackgroundHVR;
      color: white;
      border: none;

      input {
        background-color: $defaultBackgroundHVR;
        padding: 10px;
        border: none;
        box-shadow: none;
        color: white;

        &:focus {
          box-shadow: none;
        }
      }

      .upper-title_small {
        color: white;
        font-weight: 300;
        padding-left: 5px;
        text-transform: uppercase;
      }
    }
  }
}

#storeStats {
  .card {
    height: 100%;
    overflow: hidden;
    position: relative;
    border: 0;
    padding-bottom: 0;
    background-color: $defaultBackgroundOPQ;

    .card-title {
      font-weight: 400;
      font-size: 1.55rem;
    }

    .card-body {
      display: flex;

      h4 {
        display: inline-flex;
        flex-grow: 1;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: 300;
        font-size: 1.75rem;
        color: white;
      }

      .fa-stack {
        display: inline-block;
        flex-shrink: 0;
        margin-top: auto;
        margin-bottom: auto;

        .square {
          color: $accentButtonsBG !important;
        }
        .icon {
          color: $accentColor !important;
        }
      }
    }
  }
}