@import url('https://fonts.googleapis.com/css2?family=#{$fontFamily}:wght@100;300;400;500;600&display=swap');

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 991px) {
  .steamData {
    padding-left: 2rem !important;
    padding-right: 2rem !important;

    .stat {
      p.text {
        font-size: 1rem;
      }

      p.value {
        font-size: 1.1rem;
      }
    }
  }
}